.contenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
    justify-content: space-evenly;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.affiche {
    margin-top: 5vh;
    display: flex;
    flex-direction:column;
    
}

.modal{
    
}

/* .firstTitle{
    margin:10vh auto;
}

span{
    /* text-align: center;
    border: 3px solid gray */
/* } */
/* .flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: 0.8rem;
}
.fiche{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:6vh 3vh;
    /* border: 1px solid green; */
/* }
#searchArea{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(143, 76, 0);  
    
} */
/* .fiche{
    width: 50vh;
    margin: 5vh auto; */
    /* -webkit-box-shadow: 0px 0px 30px 12px rgba(255,255,255,0.29); 
box-shadow: 0px 0px 30px 12px rgba(255,255,255,0.29); */

/* } */ 
/* .search{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: white;
    margin:5vh auto; 
} 
.hide{
    display: none;
    opacity: 0.8;
    border-radius: 5px;
}
.hoverToShow:hover + .hide{
position: absolute;
z-index: 2;
display: block;
}
.resume{
    width: 200px;
}
.Shide{
    display: none;
    opacity: 0.8;
    border-radius: 5px;  
}
.ShoverToShow:hover +.Shide{
    position: absolute;
    z-index: 3;
    display: block;  
} */ */
